.job-card {
    height:90px;
     /* margin-right: 400px;  */
    border-bottom:1px solid#888; 
    
  }
  
  .job-title {
    display:flex;
    font-size: 24px;
    font-weight: bold;
    margin-top:15px;
    margin-left:77px;
    gap:2px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .posted, .status {
    margin-top: 3px;
    font-size: 14px;
    color: #6b7280;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
  }

  .status{
    background-color:rgb(41, 238, 41);
  }

  .job-details {
    margin-left:0px;
    margin-right:800px;
    margin-top:25px;
    color: #6b7280;
  }

  /* .location {
    margin-right:415px;
  } */

  .salary {
    margin-top:20px;
    margin-left: 80px;

  }
 
  
  
 